* {
  margin: 0;
}

@font-face {
  font-family: "RetroGaming";
  src: url("./public/RetroGaming.ttf") format("truetype");
}

.liste {
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.unordered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

ul.unordered {
  padding: 0;
  margin: 0;
}

.container-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.validation {
  margin-top: 15rem;
}

.btn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.validation,
.profil-list-button,
.artwork-list-button,
.signout-button-admin,
.button-back-admin,
.button-view,
.button-delete,
.button-delete-yes,
.button-delete-no {
  font-size: 1.2rem;
  font-family: "RetroGaming";
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15rem;
  min-height: 5rem;
  border: 1px solid #000000;
  background-color: black;
  -moz-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  margin-top: 10vh;
  margin-bottom: 3vw;
  margin-left: 3vw;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
  box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
}

.button-delete-yes,
.button-delete-no {
  margin-top: 0;
  min-width: 5rem;
  min-height: 2rem;
}

.button-view {
  margin: 0;
}

.validation:active,
.profil-list-button:active,
.artwork-list-button:active,
.signout-button-admin:active,
.button-back-admin:active {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .validation,
  .profil-list-button,
  .artwork-list-button,
  .signout-button-admin,
  .button-back-admin {
    box-sizing: border-box;
    width: 40%;
    height: 7%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
