@font-face {
  font-family: "RetroGaming";
  src: url("./public/RetroGaming.ttf") format("truetype");
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "RetroGaming";
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30%;
  margin-left: 25%;
  border-radius: 15%;
  position: relative;
  top: 10%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
}

.inscription-title,
.start-text {
  font-size: 20px;
  margin-bottom: 10%;
  margin-left: 2%;
  font-family: "RetroGaming";
}

.start-text {
  padding-left: 30%;
}

input {
  display: block;
  height: 4vh;
  width: 70vw;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 25px 25px 25px 25px;
  font-family: "RetroGaming";
  font-size: larger;
}

@media (max-width: 768px) {
  .form {
    width: 60%;
  }
}

.home-button-container {
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-visiteur,
.register-button,
.connexion-visiteur,
.back-button {
  font-family: "RetroGaming";
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 177px;
  min-height: 44px;
  border: 1px solid #000000;
  background-color: black;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  margin-bottom: 3vw;
  margin-top: 3vw;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
  box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
}

.connexion-button {
  font-family: "RetroGaming";
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 177px;
  min-height: 44px;
  border: 1px solid #000000;
  background-color: black;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  margin-bottom: 2vw;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
  box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
}

.text-label {
  font-family: "RetroGaming";
}

.password {
  font-family: "RetroGaming";
}

#password.inpu {
  margin-bottom: 3vw;
}
