.leaflet-container {
  height: 85vh;
  width: 100vw;
  margin-bottom: 2vh;
}

.button_l-p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location,
.profil-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 44px;
  border: 1px solid #000000;
  background-color: black;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  margin-left: 3vw;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
  box-shadow: -10px 14px 11px 0px rgba(0, 0, 0, 0.6);
}

.cameralogo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text-map {
  color: white;
  z-index: 1;
  font-size: 5vw;
  font-family: "RetroGaming";
}
