* {
  margin: 0;
}

@font-face {
  font-family: "RetroGaming";
  src: url("./public/RetroGaming.ttf") format("truetype");
}

.profile-contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-coincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.user-pic {
  margin: 1rem;
  width: 10rem;
  border-radius: 15%;
}

.player-name {
  margin: 1rem;
  text-align: center;
}

.coin {
  width: 2rem;
  margin-right: 1rem;
}

.money-count {
  display: flex;
  text-align: center;
  margin-right: 1rem;
}

.galery-player {
  margin-top: 2rem;
}
