.profile-contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-pic {
  margin: 2rem;
  width: 10rem;
}

button {
  margin: 1rem;
}

.coin {
  width: 2rem;
}

.money-count {
  margin-top: 2rem;
}

.galery-player {
  margin-top: 15rem;
}
